<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="main.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script src="jquery/dist/jquery.js" charset="utf-8"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
  $(document).ready(function(){
    // console.log('hello');
    $("div").hide();
    $(".markdown-body").show();
    $("button").click(function(){
      var currentId = $(this).attr("id").substring(6);
      console.log(currentId);
    $("div").hide();
    $(".markdown-body").show();
    var target = "django"+currentId
      $('#'+target).toggle();

    })
  })
  </script>
  <style>
  button {
    display:inline-block;
  }
  </style>
  <title>Document</title>

</head>
<body>
  Running on a harp js server, no other dependencies.
  <h1>Django Intro</h1>
  <button id = "button1"> Intro </button>
  <button id = "button2"> Installation </button>
  <button id = "button3"> Big Picture </button>
  <button id = "button4"> Getting Started </button>
  <button id = "button5"> Routes and Controllers </button>
  <button id = "button6"> Templates (aka Views) </button>
  <button id = "button7"> Assignment 1 Time Display </button>
  <button id = "button8"> RequestForms </button>
  <button id = "button9"> Assignment 2 Random Word Generator </button>
  <button id = "button10"> Assignment 3 Survey Form </button>
  <button id = "button11"> Variables to Views (Context) </button>
  <button id = "button12"> Route Parameters </button>
  <button id = "button13"> Assignment 4 Disappearing Ninjas </button>
  <button id = "button14"> Assignment 5 Ninja Gold </button>
  <hr>
  <h1> Level 2: Models </h1>
  <button id = "button15">01 M in MVC</button>
  <button id = "button16">02 Model Types</button>
  <button id = "button17">03 Erds To Django Models</button>
  <button id = "button18">04 Assignment: The Wall (the set up)</button>
  <button id = "button19">05 Wall Models Solution</button>
  <button id = "button20">06 Querying Models Intro</button>
  <button id = "button21">07 Querying Models ORM</button>
  <button id = "button22">08 Assignment: Courses</button>
  <button id = "button23">09 Model Validations</button>
  <button id = "button24">10 Assignment: Email Validation</button>
  <button id = "button25">11 Bcrypt</button>
  <button id = "button26">12 Login and registration</button>
  <button id = "button27">13 Named Routes</button>
  <button id = "button28">14 Multiple Apps</button>
  <button id = "button29">15 Assignment: Multiple Apps</button>
  <button id = "button30">16 Assignment: Semi-restful Routes</button>
  <button id = "button31">17 Assignment: User Dashboard (encouraged)</button>
  <button id = "button32">18 Assignment: Belt Reviewer</button>
  <hr>
  <h1> Mini-Extras </h1>
  <button id = "button33">Extra Django Admin</button>
  <button id = "button34">Extra App Integration</button>
  <button id = "button35">Extra Cheat Sheet </button>
  <hr>
  <h1> Level 3 </h1>
  <button id = "button36">Introducing Forms</button>
  <button id = "button37">Forms Continued</button>
  <button id = "button38">Assignment: Registration Form (with Forms)</button>
  <button id = "button39">Message Flashing</button>

  <div class="markdown-body">
    <div id = "django1">
      <%- partial("001intro" )%>
    </div>
    <div id = "django2">
      <%- partial("002installation" )%>
    </div>
    <div id = "django3">
      <%- partial("003Big_Picture" )%>
    </div>
    <div id = "django4">
      <%- partial("004GettingGoing" )%>
    </div>
    <div id = "django5">
      <%- partial("005RoutesandControllers" )%>
    </div>
    <div id = "django6">
      <%- partial("006Templates(aka_MVC_Views)" )%>
    </div>
    <div id = "django7">
      <%- partial("007Assignment1 TimeDisplay" )%>
    </div>
    <div id = "django8">
      <%- partial("008RequestForms" )%>
    </div>
    <div id = "django9">
      <%- partial("009Assignment2 Random Word Generator" )%>
    </div>
    <div id = "django10">
      <%- partial("010Assignment3SurveyFormRedux" )%>
    </div>
    <div id = "django11">
      <%- partial("011PassingVariablesBackToViews(Context)" )%>
    </div>
    <div id = "django12">
        <%- partial("012RouteParameters" )%>
    </div>
    <div id = "django13">
      <%- partial("013Assignment4 DisappearingNinjas" )%>
    </div>
    <div id = "django14">
      <%- partial("014Assignment5 NinjaGold" )%>
    </div>
    <div id = "django15">
      <%- partial("201M in MVC" )%>
    </div>
    <div id = "django16">
      <%- partial("202Model_Types" )%>
    </div>
    <div id = "django17">
      <%- partial("203Example_Erds" )%>
    </div>
    <div id = "django18">
      <%- partial("204Assignment6Wall.md" )%>
    </div>
    <div id = "django19">
      <%- partial("205WallSolution" )%>
    </div>
    <div id = "django20">
      <%- partial("206QueryingModels" )%>
    </div>
    <div id = "django21">
      <%- partial("207ModelsAndQueriesOhMy" )%>
    </div>
    <div id = "django22">
      <%- partial("208Assignment:Courses" )%>
    </div>
    <div id = "django23">
      <%- partial("209ModelValidations" )%>
    </div>
    <div id = "django24">
      <%- partial("210EmailValidation" )%>
    </div>
    <div id = "django25">
      <%- partial("211Bcrypt" )%>
    </div>
    <div id = "django26">
      <%- partial("212Assignment:LoginAndRegistration" )%>
    </div>
    <div id = "django27">
      <%- partial("213NamedRoutes" )%>
    </div>
    <div id = "django28">
      <%- partial("214MultipleApps" )%>
    </div>
    <div id = "django29">
      <%- partial("215Assignment:MultipleApps" )%>
    </div>
    <div id = "django30">
      <%- partial("216Assignment:Semi-Restful Routes" )%>
    </div>
    <div id = "django31">
      <%- partial("217Assignment:UserDashboard" )%>
    </div>
    <div id = "django32">
      <%- partial("218Assignment:BeltReviewer" )%>
    </div>
    <div id = "django33">
      <%- partial("301AdminandUserBasic" )%>
    </div>
    <div id = "django34">
      <%- partial("302AppstoIntegrate" )%>
    </div>
    <div id = "django35">
      <%- partial("303A BasicsCheatSheet" )%>
    </div>
    <div id = "django36">
      <%- partial("400Forms" )%>
    </div>
    <div id = "django37">
      <%- partial("401FormsII_Validation" )%>
    </div>
    <div id = "django38">
      <%- partial("402FormsAssignmentForms" )%>
    </div>
    <div id = "django39">
      <%- partial("403MessageFlashing" )%>
    </div>



  </div>


</body>
</html>
